# Dành cho Tiền xử lý (TV1)
beautifulsoup4==4.12.3
rouge-score==0.1.2
nltk==3.8.1

# Dành cho Thuật toán & Đồ thị (TV2)
scikit-learn==1.4.1.post1
networkx==3.2.1
pyvis==0.3.2
underthesea==6.8.0

# Dành cho Deep Learning (TV3 & TV4)
torch==2.2.1
transformers==4.38.2
sentencepiece==0.2.0

# Dành cho API & Frontend (TV4)
fastapi==0.110.0
uvicorn==0.28.0
streamlit==1.32.0
requests==2.31.0
